<div *ngIf="this.loginStatsus == 'attempting' || this.loginStatsus == 'failed'">

    <div *ngIf="this.loginStatsus == 'failed'">
        <div class="alert alert-danger" role="alert">
            Signup failed. Please check your credentials and try again.
        </div>
    </div>

    <div *ngIf="this.serverError != ''">
        <div class="alert alert-danger" role="alert">
            {{this.serverError}}
        </div>
    </div>

    <h4 class="my-3">Seller Login Form</h4>

    <form #sellerLoginForm="ngForm" (ngSubmit)="sellerLogin()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control"
                id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>
    
</div>

<div *ngIf="this.loginStatsus == 'success'">
    <div class="alert alert-success" role="alert">
        Signup successful!
    </div>

</div>
<br>
<br>
<br>