<br>

<ul class="nav nav-tabs">
    <li class="nav-item" [ngClass]="{'active': currentTab ==='login'}">
        <a class="nav-link" (click)="changeTab('login')">LOGIN</a>
    </li>
    <li class="nav-item" [ngClass]="{'active': currentTab ==='signup'}">
        <a class="nav-link"(click)="changeTab('signup')">SIGNUP</a>
    </li>
</ul>

<app-seller-auth-signup  *ngIf="this.currentTab == 'signup'"></app-seller-auth-signup>
<app-seller-auth-login  *ngIf="this.currentTab == 'login'"></app-seller-auth-login>