<div *ngIf="this.loginStatsus == 'attempting' || this.loginStatsus == 'failed'">

    <div *ngIf="this.loginStatsus == 'failed'">
        <div class="alert alert-danger" role="alert">
            Signup failed. Please check your credentials and try again.
        </div>
    </div>

    <div *ngIf="this.serverError != ''">
        <div class="alert alert-danger" role="alert">
            {{this.serverError}}
        </div>
    </div>

    <h4 class="my-3">Seller Signup Form</h4>

    <form #sellerSignup="ngForm" (ngSubmit)="sellerSignUp()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" [(ngModel)]="this.name" class="form-control" id="name"
                aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" name="phone" [(ngModel)]="this.phone" class="form-control" id="phone" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" [(ngModel)]="this.email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" [(ngModel)]="this.password" class="form-control"
                id="exampleInputPassword1" required>
        </div>
        <!-- address -->
        <div class="mb-3">
            <label for="town" class="form-label">Town</label>
            <input type="text" name="town" [(ngModel)]="this.town" class="form-control" id="town" required>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" name="city" [(ngModel)]="this.city" class="form-control" id="city" required>
        </div>
        <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" name="state" [(ngModel)]="this.state" class="form-control" id="state" required>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="country" [(ngModel)]="this.country" class="form-control" id="country" required>
        </div>
        <!-- bank -->
        <div class="mb-3">
            <label for="bankName" class="form-label">Bank Name</label>
            <input type="text" name="bankName" [(ngModel)]="this.bankName" class="form-control" id="bankName" required>
        </div>
        <div class="mb-3">
            <label for="accountNumber" class="form-label">Account Number</label>
            <input type="number" name="accountNumber" [(ngModel)]="this.accountNumber" class="form-control"
                id="accountNumber" required>
        </div>
        <div class="mb-3">
            <label for="ifscCode" class="form-label">IFSC Code</label>
            <input type="text" name="ifscCode" [(ngModel)]="this.IFSC" class="form-control" id="ifscCode" required>
        </div>
        <div class="mb-3">
            <label for="swiftCode" class="form-label">Swift Code</label>
            <input type="text" name="swiftCode" [(ngModel)]="this.swiftCode" class="form-control" id="swiftCode"
                required>
        </div>

        <!-- id proof -->
        <div class="mb-3">
            <strong for="idProof" class="form-label">ID Proof</strong>
            <input type="file" name="idProof" class="form-control" id="idProof" [(ngModel)]="idProof"
                (change)="onFileSelected($event)" required>
        </div>
        <img [src]="imageUrl" alt="Selected ID Proof" *ngIf="imageUrl" width="200">

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="category" [(ngModel)]="category" class="form-control" id="category" required
                (change)="onCategoryChange()">
                <option value="" disabled selected>Select category</option>
                <option *ngFor="let item of allCategories" [value]="item.name">{{ item.name }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="subcategory" class="form-label">Subcategory</label>
            <select name="subcategory" [(ngModel)]="subCategory" class="form-control" id="subcategory" required>
                <option value="" disabled selected>Select subcategory</option>
                <option *ngFor="let subCategory of selectedCategory?.subcategories" [value]="subCategory">{{ subCategory
                    }}</option>
            </select>
        </div>


        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
            <label class="form-check-label" for="exampleCheck1">I agree to all terms and conditions</label>
        </div>
        <button type="submit" class="btn btn-primary">SIGNUP</button>
    </form>

</div>

<div *ngIf="this.loginStatsus == 'success'">
    <div class="alert alert-success" role="alert">
        Signup successful!
    </div>
</div>

<br>
<br>
<br>